@charset "utf-8";
/*  初期化  */
body {
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
/*  メニュー 　*/
ul {
  display: flex;
  justify-content: center;
}
li {
  margin: 0 10px;
}
/*  タイトル  */
h1, p {
  text-align: center;
}
main h2 {
  text-align: center;
}
